[alias]
  aa = add --all
  amend = commit -a --amend
  c = commit
  co = checkout
  cob = checkout -b
  cmc = config user.email "jeff_bailey@comcast.com"
  pr = pull --rebase --prune
  pull = pull --tags
  scrub = gc --aggressive --prune=now
  st = status -sb

[color]
  diff = auto
  branch = auto
  interactive = auto
  status = auto

[core]
  excludesfile = /Users/jeff/.gitignore
	ignorecase = false
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	autocrlf = input

[commit]
  template = ~/.gitmessage

[push]
  default = nothing

[fetch]
  prune = true
  pruneTags = true

[url "git@github.comcast.com"]
	insteadOf = https://github.comcast.com/

[user]
	name = Jeff Bailey
	email = jeff@blahspam.com
